.container {
	padding-top: 20px;
}

i-frame {
	height: auto;
	width: 100%;

}

p {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.0rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	text-align: left;
}

#form-blurb {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 300;
	font-size: 1.20rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	text-align: left;
	margin-bottom: 30px;
	margin-top: 30px;
	
}

input {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 100;
	font-size: 1.0rem; /*displayed at 16px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	margin-bottom: 15px; 

}

label {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.0rem; 
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none; 
}

.dropdown {
	margin-bottom: 20px;

}

button {
	height: 45px;
	width: 100%;
	position: relative;
	
}

button.btn.btn-default:last-child {
	color: #000099;
	font-family: 'Holtwood One SC', serif;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 0.5px;
	text-decoration: none;
	background-color: #66ffcc;
	margin-top: 20px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 10px;
}

li a {   /* dropdown menu items */
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 1.0rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
	height: 40px;
}

#dropdownArrow {
	position: absolute;
	top: 15px;
	right: 20px;
	color: #bfbfbf;
}