html {
   font-size: 12px; /*declaring root element in pixels*/
}

 /* h4 {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 4rem;
	color: #000099;
	background-color: none;
}
*/
p {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 100;
	font-size: 1.35rem; /*displayed at 16px  */
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: black;
	text-decoration: none;
}

span { /* bold time  */
	font-weight: 700;
	color: #000099;
}

strong { 
    font-weight: bold;
}

.down-arrow {
	position: absolute;
	right: 20px;
	top: 20px;
}

.down-arrow span {
	color: #bfbfbf;
	font-size: 2rem;
}

.container {
	padding-top: 20px;
}

.panel-heading {
	background-color: red;
	height: 60px;
	border-style: 1px solid black;
}

.panel-title {
	font-family: 'Mukta Vaani', sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	color: #000099;
	background-color: none;
	text-decoration: none;
	letter-spacing: 0.5px;
	padding-top: 5px;

}